body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("linedpaper.png");
}

.header {
  text-align: left;
  font-size: 36px;
  background-color: rgb(253, 253, 253);
  padding-top: 10px;
}

.header img {
  height: 60px;
}

#search {
  float: right;
  padding-right: 5px;
  padding-top: 3px;
}

input[type=text] {
  background-color: white;
  background-image: url('search.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 16px;
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #ccc;
  padding-left: 25px;
  outline: none;
}

.nav  {
  overflow: hidden;
  background-color: rgb(140, 140, 140);
  box-shadow: 0px 5px 5px rgb(100, 100, 100);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

#current {
  background-color: rgb(255, 180, 100);
}

.nav a:link {
  color: rgb(250, 250, 250);
}

.nav a:visited {
  color: rgb(250, 250, 250);
}

.nav a:hover {
  background-color: black;
  color: white;
}

h1 {
  text-align: left;
  padding-left: 20px;
}

.home {
  text-align: left;
  padding-left: 40px;
  padding-bottom: 40px;
}

.home-img {
  display: inline-block;
  padding-left: 100px;
  padding-bottom: 100px;
}

.home img {
  height: 80px;
  display: inline;
  padding-left: 20px;
}

.books {
  overflow: auto;
  margin: auto;
  padding-left: 20px;
  padding-bottom: 40px;
}

.books img {
  float: left;
  height: 200px;
  padding-right: 15px;
}

.books ul {
  list-style-type: none;
  margin: auto;
  overflow: auto;
}

.books li {
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
  font-size: 15px;
  display: inline-block;
  width: 450px;
  background-color: rgb(250, 250, 250);
}

.books a {
  text-decoration: none;
  font-size: 18px;
}

.price {
  color: rgb(250, 140, 40);
  display: inline;
}

.summary {
  font-size: 15px;
  text-align: left;
}

input[type=submit] {
  cursor: pointer;
  font-size: 20px;
  padding: 4px;
  border: 3px outset rgb(120, 120, 120);
  border-radius: 4px;
  background-color: rgb(100, 230, 120);
}

.checkout {
  font-size: 18px;
  padding-left: 45px;
}

.selector {
  padding: 20px;
  margin: auto;
}

select {
  background-color: rgb(230, 230, 230);
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.about {
  padding-left: 10px;
  width: 600px;
  text-align: left;
  
}

.contact {
  text-align: center;
  padding: 10px;
}